<!DOCTYPE html>  
<html lang="en">  
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <div class="container">
            <% include partials/nav.ejs %>
            <div class="jumbotron">
                <h1>Contact</h1>
                <div class="row">
                    <div class="col-md-4">
                        <p><strong>Email:</strong></p>
                        <p>joshterrill[dot]dev[at]gmail.com</p>

                        <p><strong>Website:</strong></p>
                        <p><a href="http://joshterrill.com">joshterrill.com</a></p>

                        <p><strong>Github:</strong></p>
                        <p><a href="https://github.com/joshterrill">github.com/joshterrill</a></p>

                        <p><strong>Twitter:</strong></p>
                        <p><a href="https://twitter.com/joshterrill">twitter.com/joshterrill</a></p>

                    </div>
                    <div class="col-md-8">
                        <p><strong>Public Key:</strong></p>
                        <pre class="mypgpkey">
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1

mQINBFYJ8C4BEAC+tRCdfnDS2JgHPbR4A7YmWpOigLG+zaGTA2uMpsR4vCvuBEnO  
lEV/bXSluXDh4xrAMl8pjas9F4s1tAjcQw+YGZ3mXStm0u/4keAo9iVgrxZU/WVA  
LvpbDrDQdnLUyXLCMqDlrvessWK6vB6c/EVIk5UxhKamZ9YPBuGoDU5SQnf642d9  
7++uNugB4+rUEQ0A6eA6PCXMiEjymMpqf/V5HpDdTbiBINgU8sVPzXmbTwkyL97j  
FRwjSaPKUoqiAa97ekbEAJZeADeJvS/UNA+zdVaKW1SQBjE/VC4dhiSa2wMLH/E4  
CFiMGLY6n4MSIO/1XVKBKzEwwmudq8ErGEQ8OWajy5aCH+E4q03P4cMu3eql23mW  
fiJfCiPMeYJrReyOJxyc3SeRE1ToliKm3r1ec7YRPoaSARoyaQTz7dESb1F9ib3u  
AcOMYojtoMXoDs8mpdIaquOanqleaAa/crBXc/DwWhxln7e9437jJyUULP/rkSAb  
H7IgkiCTZ8WbL8hsfzlomhSQ0AdYkAMIni7Ftc0svZpzGCeHjaDhgfckTDSs56G3  
WkCRXN8HVgyVCn2f/84RMRgYNPwkhdElHNlre+xmO8EMbDvwfTDpVkfLW7RxJYpm  
c3jaxCrlXmmROjluIHaPM+lHokdxfjRbOp595hdCb2vVhjMaMC3mqAvLyQARAQAB  
tB5Kb3NodWEgV2VsbGVyIDx3ZWxsZXJAc2hoaGhoaD6JAjYEEwEKACAFAlYJ8C4C  
GwMFCwkIBwMFFQoJCAsEFgIBAAIeAQIXgAAKCRB2V5x8pn5G3F2TD/4uI9x5ZmTP  
UbqXwnkb5HLHg+ZbLyAqwKIWib97qqx0D6ql4j1U8v7/0UP+xFtyXvB0cGO765GW  
l1Na2UJMF4CPDvd7brw7/Qu6Zf2tkZRdrewQOcLsLx65wenJj5G6VwNpXhKOqWtG  
Zwr1/MQGnuXWqsZ2ybFlW3AUNCPng7YNkKgnFU0TNAI9zxWORjgJrDaHmMvaW+pw  
7EqMKc/SWRgjZtM3sN3H0Pxg3pb+n+5i3+DgrMQmAmaVLeJx6yzvebzTdYEQLDtI  
5SEWXkTZuXRDooyijW1/HnS7q/kOOGS5ylSdgShO4Z4K9mnQYRbFuU8W2bFvKnkv  
gbzEI55MH2/KwIDsngxoD+dJMY+P7GIXCGNRm/6hhalBx+JIijbQOlVk0VzGOnlJ  
zYBuf86eD86Fy0VXskdfUnYih7VhYB3AXlLJEdLjLGOAY7QIwGauV4seDhg4iBAB  
CJR6HrDWD3zWDOCiJPNhNMQYtqLTiu9TemkIrQ0/ti4ozQO9mFDLkF0qsSZlBt/+  
CsnVkCrL2xpuRLrN9fNtT9/Q+TvgmBWKeXElX7R7wphQqu5xfWyqT5FhEUUY2Xwp  
vSSKKkWiqbUbGMCocKQJFk+HcMS8m8X7Qk7Lk4Wg5/fwHBzNlYuejKBl1ZA9fE1J  
mwP72EpGt4kXqDNG29vB8ZEIsRqJX6bNyrkCDQRWCfAuARAAk2wX7SGH+6J24FL+  
KAlv/jvVO5eM3ccxiYsROqW7vJQ51o+esJ4/V5up3qdlw3fETUZIEZ4UdM/jqrxQ  
0Q9Qsz2sInRcZHnjvEg8SvoDdJT0tjbUHRvcH7CM0xuHxYYt1HKLchqiHTGYqRgY  
3saUq97cxoCrJ9cYhaYGt9e9W1k3sxIS3O/BExVvP3GeRmGT9Ab4BApGnhCIaqHB  
bNwzEIC+P1bb63qjsBstAdu4vyOoKCtbU7yGHzXj+rQaAfNNoQY0/QSccOqSFuNy  
y9Br6FIH2mhhDUTLi4kypwvqW2y2Tpo0Y5QsLrth3WOq/9AroDDYFEEe9a/rU8Ua  
dCdwjIzSYhHbAy7BEtXMwVYM0fuwlVYxGtOxoGawbtdpPY8q1KURqPae5J5zt6Ug  
GnZssMFXcoLHpJ2fnCTOOt8JsDH1mJAQpVfikO9MSlyqvYuS3hxsFWPh/0eIjwZI  
RMRNSHbzkg/NxhT+Q23lbPNRD2vi4ieJ28C3JDx2dKydg48cTqY4Arz9ckVYMdGX  
2pNE6cz+vG5EzWxG32o2JX0qA+Z4lJaQxws7Oh9IUQE/l3jNgVcSKm1DJ59stAE4  
aXvQCa8RvnYEad3pBeWdV8gJefX8H30kDHPckBFYt13KMyi4QeTw4RdCPFe7MhCq  
6CL/sibbnoOGJzCu4SZ6Ucjy1qUAEQEAAYkCHwQYAQoACQUCVgnwLgIbDAAKCRB2  
V5x8pn5G3L+HD/wLVi0B+BHC9w+DYo7q18QbBQEC+rHwr8NbqWDte8qtdA7bxVWJ  
L+585IrunWIKMIiFBCN/5wBXRf4oH4nQm+iUD1BiWi2NdNKnFfIYyZsbUF/gupi6  
Nd/0Eovb6z+RWfIZAueK00hqN/YaNFCqvLLXenOwDd/AVmQRdTpaTBeumm+HMbdA  
y+E0bT4KdWW3oXkrDT0WjhgoEvlRm6dMuIuy30pOgxyGb+8q3LFxqUvj/Io0yWCw  
df5nry+O0Zg5FFlKCu1KXV1poEODz+1HYVXrwe9rmi0xDPPi6mHB+V8PMu7NDdN3  
XzfEHFuS7hLAu6OKVz+IFntKdV0O9PR/oh8ZViJgmqs5WvRB/2LbiHOiVpcIcdkU  
VVALep8llH3VNTBaHqU4sx5zBFU7X4RkTyEpYjwLVAcn9SYw350OYgHQLJnNX9TX  
EvseWdX2vKaesPWVBYSjUIzZ4MzXhvtb/qm7oqbVseQ9sbvA6eIwhvtAK0mKZLoj  
oBmp3+q+YAwXUqh73eFvzE9tNaSekZ1MmLTiGEBGN0LLah897DBpKlTUsGVltZhI  
T3gHXPR6ZCKIoBYZNBrwdPbekKX1/Vv4K+dcKj7f6xVEMnjVxcQWXjlGgT4tQdSB  
kz3jssuxwC2D4fVCscCPaGQS37zBTC4vrJVPq/tGU2KhPHCvlaRVxwsRxg==  
=DFel
-----END PGP PUBLIC KEY BLOCK-----
</pre>
                    </div>
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </body>
</html>  