<!DOCTYPE html>  
<html lang="en">  
    <head>
        <% include partials/head.ejs %>
    </head>
    <body>
        <div class="container">
            <% include partials/nav.ejs %>
            <div class="jumbotron">
                <h1>Login</h1>
                <form action="/login" method="POST">
                    <input type="text" name="username" placeholder="Username"> <br />
                    <input type="password" name="password" placeholder="Password"> <br />
                    <input type="submit" class="btn btn-success">
                </form>
            </div>
        </div>
    </body>
</html>  