input {
    padding: 15px;
    width: 280px;
    margin-bottom: 10px;
}

button {
    padding: 15px;
    width: 280px;
    margin-bottom: 10px;
}

select {
    padding: 15px;
    width: 280px;
    margin-bottom: 10px;
}

textarea {
    padding: 15px;
    width: 380px;
    height: 100px;
    margin-bottom: 10px;
}

.generatedpublickey {
    margin-top: 20px;
}

.generatedprivatekey {
    margin-top: 20px;
}

.mypgpkey {
    height: 300px;
    overflow: scroll;
}

.generalwarning {
    padding: 20px;
}

.generatedpublickey pre {
    height: 300px;
}

.generatedprivatekey pre {
    height: 300px;
}